*{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
}
body{
  background: rgb(155,11,30);
  background: linear-gradient(150deg, rgba(155,11,30,1) 0%, rgba(109,17,17,0.6386204139859069) 50%, rgba(4,3,30,0.7450629910167192) 100%);
width: 100vw;
height: 100vh;
}
header{
    width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;

}
header a{
    color: white;
    text-decoration: none;
    padding: 0px 25px;
    text-align: center;
  }
  main{
    border: solid white 3px;
    margin-top: 5%;
    color: white;
    padding: 3%;
    margin-left: 3%;
    margin-right: 4%;
    text-align: center;
    
  }
  footer{
    display: flex;
    gap:10%;
    justify-content:space-around;
    margin-top: 3%;
    text-decoration: none;
    
  }
  .one div{
    
    width: 100px;
    height: 200px;
    background-color: rgba(225, 225, 225, 0.69);
    border: 3px white solid;
    border-radius: 5px;
    flex-direction: column;
   align-items: center;
    color: white;
    
    text-align: center;
  }
  img{
    border-radius: 10%;
  }
  a{
    color: white;
    text-decoration: none;
    
  }